/**
 * @package Sales Pop up ‑ Social Proof
 * @author CareCart
 * @link https://apps.shopify.com/partners/care-cart
 * @link https://carecart.io/
 * @version 1.1.0
 *
 * Any unauthorized use and distribution, of this and related files, is strictly forbidden.
 * In case of any inquiries, please contact here: https://carecart.io/contact-us/
 */

/*  theme start */
/* hallown theme */

.notification-theme {
    width: 340px;
    max-width: 336px;
    padding: 0 0 10px 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    min-height: 110px;
}

.notification-theme * {
    box-sizing: content-box;
}

.notification-theme .row {
    width: 100% !important;
    display: block;
    margin: 0;
}

.notification-theme .wrapper-content {
    padding: 10px;
}

.notification-theme .wrapper-content .close-noti {
    float: right;
}

.notification-theme .wrapper-content.layout-tow-wrap {
    padding: 13px 10px 10px 10px;
}

.notification-theme .wrapper-content.layout-third {
    padding: 0;
    min-height: 120px;
}

.noti-title {
    line-height: 1;
}

.notification-theme .wrapper-content.layout-third .noti-title {
    border-radius: 4px 4px 0 0;
    min-height: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.notification-theme .wrapper-content.layout-third .noti-title span {
    top: 5px;
    margin: 12px;
    position: relative;
}

.notification-theme .wrapper-content.layout-third .close-noti {
    padding: 6px 10px;
}

.notification-theme .layout-third .sp-product-image img {
    width: 80px !important;
    height: 70px !important;
    margin: 4px 10px;
}

.notification-theme .sp-product-image img {
    position: relative;
    float: left;
    width: 93px;
    height: 85px;
    padding-right: 8px;
    line-height: 0;
}

.halloween-bg {
    background-image: url(../public/front_assets/images/halloween-bg.png);
    background-size: 100% 100%;
    color: #fff;
}

.halloween-bg a {
    color: #fff;
    font-weight: bold;
}

.notification-theme.halloween-bg::before {
    content: '';
    position: absolute;
    top: -38px;
    z-index: 1;
    right: 20px;
    background: url(../public/front_assets/images/hallpump.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: 100%;
    width: 70px;
    height: 55%;
}

/* newyear theme */
.new-yearBg {
    background-image: url(../public/front_assets/images/new_year-bg.png);
    background-size: 100% 100%;
    color: #fff;
}

.new-yearBg a {
    color: #fff;
    font-weight: bold;
}

.notification-theme.new-yearBg::before {
    content: '';
    position: absolute;
    top: -30px;
    z-index: 1;
    right: 17px;
    background: url(../public/front_assets/images/newyeartop.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100%;
    width: 80px;
    height: 55%;
}


/* xmas theme */
.christmas-bg {
    background-image: url(../public/front_assets/images/xmas-bg.png);
    background-size: 100% 100%;
    color: #fff;
}

.christmas-bg a {
    color: #fff;
    font-weight: bold;
}

.notification-theme.christmas-bg::before {
    content: '';
    position: absolute;
    top: -38px;
    z-index: 1;
    right: 20px;
    background: url(../public/front_assets/images/xmas-icon_top.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: 100%;
    width: 70px;
    height: 55%;
}

/* valentine theme */
.valentine-bg {
    background-image: url(../public/front_assets/images/valentine-bg.png);
    background-size: 100% 100%;
    color: #EB1F23;
}

.valentine-bg a {
    color: #F95B05;
    font-weight: bold;
}

.notification-theme.valentine-bg::before {
    content: '';
    position: absolute;
    bottom: -moz-calc(100% - 10px);
    bottom: -webkit-calc(100% - 10px);
    bottom: calc(100% - 10px);
    left: 5px;
    width: 60px;
    height: 45px;
    background: url(../public/front_assets/images/valenlove.png) no-repeat;
    background-size: auto auto;
    background-size: 100%;
}


/* thanks theme */

.thanks-giving-bg a {
    color: #EB1F23;
    font-weight: bold;
}

.thanks-giving-bg {
    background-image: url(../public/front_assets/images/thanks_giving-bg.png);
    background-size: 100% 100%;
    color: #FB4509;
    position: relative;
}

/*.notification-theme.thanks-giving-bg::after,*/
.notification-theme.thanks-giving-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    background: url(../public/front_assets/images/thankstop.png) no-repeat;
}

.notification-theme.thanks-giving-bg::before {
    top: -40%; /*48*/

}

/* blackfriday theme */

.black-friday-bg a {
    color: #fff;
    font-weight: bold;
}

.black-friday-bg {
    background-image: url(../public/front_assets/images/black_friday-bg.png);
    background-size: 100% 100%;
    color: #fff;
    position: relative;
}

/* cybermonday theme */

.cyber-monday-bg a {
    color: #fff;
    font-weight: bold;
}

.cyber-monday-bg {
    background-image: url(../public/front_assets/images/cyber_monday-bg.png);
    background-size: 100% 100%;
    color: #fff;
    position: relative;
}

/*  theme end */


/*Style Changes 17-9-2018 */
/* First 13*/
.wrapper-content.layout-tow-wrap .noti-title span {
    font-size: 12px;
}

.wrapper-content.layout-tow-wrap .noti-body a {
    font-size: 16px; /*20*/
    text-decoration: none;
    font-weight: 400;
}

.wrapper-content.layout-tow-wrap .noti-time {
    font-size: 12px;
}

/* Second */
.wrapper-content.layout-one-wrap .noti-title span {
    font-size: 12px;
}

.wrapper-content.layout-one-wrap .noti-body {
    /*padding-bottom: 10px;*/
}

.wrapper-content.layout-one-wrap .noti-body a {
    text-decoration: none;
    font-size: 15px; /*17*/
}

.wrapper-content.layout-one-wrap .noti-time {
    font-size: 12px;
}

/* 3rd */
.wrapper-content.layout-third .noti-title {
    padding-top: 4px;
    font-size: 12px;
}

.wrapper-content.layout-third .noti-body {
    padding-top: 16px;
    font-size: 16px; /*20*/
}

.wrapper-content.layout-third .noti-time {
    margin-top: 9px;
    font-size: 12px;
}

.wrapper-content.layout-third .noti-time span {
    margin-top: -12px;
}


.wrapper-content .noti-time span {
    float: right;
    /*color: #2699fb;*/
    margin-right: 10px;

    width: 70px;
    font-size: 11px;
}

.wrapper-content .noti-time span a {
    color: #2699fb;
}

.wrapper-content .noti-time span img {
    width: 13px;
}

/** css for compatibility with other themes **/
